form.friend,
.can-friend form.unfriend {
  display: none;
}

form.unfriend,
.can-friend form.friend {
  display: block;
}

.disabled-message,
.is-disabled input[type="submit"] {
  display: none;
}

.is-disabled .disabled-message  {
  display: inline;
}
