// Place all the styles related to the friendships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.friend,
.can-friend form.unfriend {
  display: none;
}

form.unfriend,
.can-friend form.friend {
  display: block;
}

.disabled-message,
.is-disabled input[type="submit"] {
  display: none;
}

.is-disabled .disabled-message  {
  display: inline;
}
